<template>
    <h2 class="title">Create new employee</h2>
    <VeeForm
            :validation-schema="schema"
            @submit="onSubmit"
    >
<!--    <form @submit.prevent="onSubmit">-->
        <label>ФИО:
            <Field v-model="employee.fullName" name="fullName" type="text" />
            <ErrorMessage
                    name="fullName"
                    class="text-capitalize text-danger"
            />
        </label>
        <label>Домашний телефон:
            <Field v-model="employee.homePhone" name="homePhone" type="text" />
            <ErrorMessage
                    name="homePhone"
                    class="text-capitalize text-danger"
            />
        </label>
        <label>Мобильный телефон:
            <Field v-model="employee.mobilePhone" name="mobilePhone" type="text" />
            <ErrorMessage
                    name="mobilePhone"
                    class="text-capitalize text-danger"
            />
        </label>
        <label>Рабочий телефон:
            <Field v-model="employee.workPhone"  name="workPhone" type="text" />
            <ErrorMessage
                    name="workPhone"
                    class="text-capitalize text-danger"
            />
        </label>
        <label>Домашний адрес:
            <Field v-model="employee.address" name="address" type="text" />
            <ErrorMessage
                    name="address"
                    class="text-capitalize text-danger"
            />
        </label>
        <label>Почта:
            <Field v-model="employee.postNumber" name="postNumber" type="text" />
            <ErrorMessage
                    name="bankNumber"
                    class="text-capitalize text-danger"
            />
        </label>
        <label>Банковские реквизиты:
            <Field v-model="employee.bankNumber"  name="bankNumber" type="text"/>
                <ErrorMessage
                        name="bankNumber"
                        class="text-capitalize text-danger"
                />
        </label>
        <label>Должность:
            <Field v-model="employee.jobPosition" type="text" name="jobPosition" />
            <ErrorMessage
                    name="jobPosition"
                    class="text-capitalize text-danger"
            />
        </label>
        <button>Save emoloyee</button>
<!--    </form>-->
    </VeeForm>
</template>

<script>
import {mapActions} from "vuex";
import { Field, Form as VeeForm, ErrorMessage } from "vee-validate";
import * as yup from "yup";
export default {
    components: {
        Field,
        VeeForm,
        ErrorMessage,
    },
    name: "EmployeeAddPage",
    setup() {
        const schema = yup.object({
            fullName: yup.string().required().min(1),
            homePhone: yup.string().required(),
            mobilePhone: yup.string().required().min(1),
            workPhone: yup.string().required().min(1),
            address: yup.string().required().min(1),
            postNumber: yup.string().required().min(1),
            bankNumber: yup.string().required().min(1),
            jobPosition: yup.string().required().min(1),

        });

        return {
            schema,
        };
    },
    data() {
        return {
            employee: {
                id: Date.now(),
                fullName: '',
                homePhone: '',
                mobilePhone: '',
                workPhone: '',
                address: '',
                postNumber: '',
                bankNumber: '',
                jobPosition: '',
            }
        }
    },
    methods: {
        ...mapActions(["storeNewEmployee"]),
        onSubmit() {
            const employee = JSON.parse(JSON.stringify(this.employee))
            const organizationId = this.$route.params.id
            this.storeNewEmployee({employee, organizationId});
            this.$router.push({path: `/details/${organizationId}`})
        },
    },
}
</script>

<style scoped>
label{
    display: block;
    margin: 12px
}
.text-danger {
    color: red;
}
</style>