<template>
    <div >
        <button @click="this.$router.push({path: 'create'})">Create new Organizatoin</button>
                    <ul class="organization-card" v-for="organ in getAllOrganizatoins" :key="organ.id">
                        <li> {{organ.nameOfHead}} </li>
                        <li>  {{organ.nameOfHead}} </li>
                        <li> {{organ.name}} </li>
                        <li> {{organ.address}} </li>
                        <li> {{organ.phone}} </li>
                        <li> {{organ.typeOfOwnership}} </li>
<!--                        here rest of properties-->
                        <button @click="onDetails(organ.id)">Open details</button>
                        <button @click="onDelete(organ.id)">Delete</button>
                        <button @click="onEdit(organ.id)">Edit</button>
                    </ul>

    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: "MainPage",
    computed: mapGetters(['getAllOrganizatoins']),
    methods: {
        ...mapActions(["deleteOrganization", "getOrganizationById"]),
        onDelete(id) {
            this.deleteOrganization(id)
        },
        onEdit(id) {
            this.$router.push({path: `edit/${id}`})
            this.getOrganizationById(id)
        },
        onDetails(id) {
            this.$router.push({path: `details/${id}`})
        }
    }
}
</script>
<style scoped>
.organization-card{
    width: 200px;
    height: 200px;
    border:1px solid red;
}
</style>