<template>
    <ul>
        <li> {{ organization.address }}</li>

        <li> {{ organization.phone }}</li>
        <li> {{ organization.certificateNumber }}</li>
        <li> {{ organization.licenseNumber }}</li>
        <li> {{ organization.DateOfCertificate }}</li>
        <li> {{ organization.DateOfLicense }}</li>
        <li> {{ organization.legalForm }}</li>
        <li>{{ organization.typeOfOwnership }}</li>
    </ul>
    <strong v-for="employee in organization.employeesList.employee" :key="employee.id">
<!--        in vuex action showing my employees but here my array empty-->
        <div>{{employee}}</div>
    </strong>
    <button @click=" this.$router.push({path: `add-employee/${organization.id}`})">Add employee</button>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
    name: "OrganizationDetailsPage",

    computed: {
        organization () {
            return this.$store.getters.organizationById(this.$route.params.id)
        }
    },

    methods: {
        ...mapActions(["deleteOrganization", "getOrganizationById"]),
        ...mapMutations(['getOneOrganization', 'createNewEmployee']),
        ...mapGetters(['organizationById','getAllOrganizatoins']),
        onDelete(id) {
            this.deleteOrganization(id)
        },
        onEdit(id) {
            this.getOrganizationById(id)
        },
    },
}
</script>

<style scoped>

</style>