<template>
    <form @submit.prevent="onSubmit">
        <label>Форма собственности:
            <input v-model="organization.typeOfOwnership" type="text">
        </label>
        <label>Правовая форма:
            <input v-model="organization.legalForm" type="text">
        </label>
        <label>Название организации:
            <input v-model="organization.name" type="text">
        </label>
        <label>ФИО руководителя:
            <input  v-model="organization.nameOfHead" type="text">
        </label>
        <label>Факс:
            <input  v-model="organization.fax" type="text">
        </label>
        <label>Телефон:
            <input  v-model="organization.phone" type="text">
        </label>
        <label>Веб-страница:
            <input  v-model="organization.webPageLink" type="text">
        </label>
        <label>Номер лизенции:
            <input  v-model="organization.licenseNumber" type="text">
        </label>
        <label>Дата получения лицензии:
            <input  v-model="organization.DateOfLicense" type="text">
        </label>
        <label>Номер свидетельства:
            <input  v-model="organization.certificateNumber" type="text">
        </label>
        <label>Дата получения свидетельства:
            <input  v-model="organization.DateOfCertificate" type="text">
        </label>
        <label>Адрес:
            <input  v-model="organization.address" type="text">
        </label>
        <button >Save</button>
    </form>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "OrganizationEditPage",
    computed: {
        organization () {
            return this.$store.getters.organizationById(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions(['editOrganization']),
        ...mapGetters(['organizationById']),
        onSubmit() {
            this.editOrganization(this.organization);
            console.log(this.organization)
            this.$router.push({path: `/`})
        }
    }
}
</script>

<style scoped>
label{
    display: block;
    margin: 12px
}
</style>