<template>
    <div class="create">
        <h2 class="title">Create new organization</h2>
        <VeeForm
                :validation-schema="schema"
                @submit="onSubmit"
        >
            <label>Форма собственности:
                <Field v-model="organizatoin.typeOfOwnership" name="typeOfOwnership" type="text"/>
                <ErrorMessage
                        name="typeOfOwnership"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Правовая форма:
                <Field v-model="organizatoin.legalForm" name="legalForm" type="text"/>
                <ErrorMessage
                        name="legalForm"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Название организации:
                <Field v-model="organizatoin.name" name="name" type="text"/>
                <ErrorMessage
                        name="name"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>ФИО руководителя:
                <Field v-model="organizatoin.nameOfHead" name="nameOfHead" type="text"/>
                <ErrorMessage
                        name="nameOfHead"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Факс:
                <Field v-model="organizatoin.fax" name="fax" type="text"/>
                <ErrorMessage
                        name="fax"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Телефон:
                <Field v-model="organizatoin.phone" name="phone" type="text"/>
                <ErrorMessage
                        name="phone"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Веб-страница:
                <Field v-model="organizatoin.webPageLink" name="webPageLink" type="text"/>
                <ErrorMessage
                        name="webPageLink"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Номер лизенции:
                <Field v-model="organizatoin.licenseNumber" name="licenseNumber" type="text"/>
                <ErrorMessage
                        name="licenseNumber"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Дата получения лицензии:
                <Field v-model="organizatoin.DateOfLicense" name="DateOfLicense" type="text"/>
                <ErrorMessage
                        name="DateOfLicense"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Номер свидетельства:
                <Field v-model="organizatoin.certificateNumber" name="certificateNumber" type="text"/>
                <ErrorMessage
                        name="certificateNumber"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Дата получения свидетельства:
                <Field v-model="organizatoin.DateOfCertificate" name="DateOfCertificate" type="text"/>
                <ErrorMessage
                        name="DateOfCertificate"
                        class="text-capitalize text-danger"
                />
            </label>
            <label>Адрес:
                <Field v-model="organizatoin.address" name="address" type="text"/>
                <ErrorMessage
                        name="address"
                        class="text-capitalize text-danger"
                />
            </label>
            <button >Save</button>
        </VeeForm>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import { Field, Form as VeeForm, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
    name: "OrganizationCreatePage",
    components: {
        Field,
        VeeForm,
        ErrorMessage,
    },
    data() {
        return {
            organizatoin: {
                id: Date.now(),
                typeOfOwnership: '',
                legalForm: '',
                name: '',
                nameOfHead: '',
                fax: '',
                phone: '',
                webPageLink: '',
                licenseNumber: '',
                DateOfLicense: '',
                certificateNumber: '',
                DateOfCertificate: '',
                address: '',
                employeesList:[]
            }
        }
    },
    setup() {
        const schema = yup.object({
            typeOfOwnership: yup.string().required().min(1),
            legalForm: yup.string().required(),
            name: yup.string().required().min(1),
            nameOfHead: yup.string().required().min(1),
            fax: yup.string().required().min(1),
            phone: yup.string().required().min(1),
            webPageLink: yup.string().required().min(1),
            licenseNumber: yup.string().required().min(1),
            DateOfLicense: yup.string().required().min(1),
            certificateNumber: yup.string().required().min(1),
            DateOfCertificate: yup.string().required().min(1),
            address: yup.string().required().min(1)

        });

        return {
            schema,
        };
    },
    methods: {
        ...mapActions(["storeOrganization"]),
        onSubmit() {
            const organization = JSON.parse(JSON.stringify(this.organizatoin))
            this.storeOrganization(organization);
            this.$router.push({path: '/'})
        },
    },
}
</script>

<style scoped>
.title{
    text-align: center;
}
label{
    display: block;
    margin: 12px
}
.text-danger {
    color: red;
}
</style>